<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Advertisement</h1>

      <ul class="list-group">
        <li>"Create new model"</li>
        <% advertisement.forEach((ads) => { %>
          <li class="list-group-item">
            <a href="/advertisement/<%= ads.id %>"> <%= ads.title %> </a>
          </li>
        <% }) %>
      </ul>

    </main>
  </body>
</html>